@import "../../global.scss";

.contact {
    background-color: $mainColor;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
        h1 {
            font-size: 50px;
            @include mobile {
                font-size: 30px;
            }
        }
    }

    .content {
        

        margin-top: 20px;
        h2 {
            margin-left: 25px;
            font-size: 30px;
            @include mobile {
                font-size: 20px;
            }
            span {
                color: #dd6691;
            }
        }

        ul {
          margin-top: 70px;
          margin-left: 70px;
         
          @include mobile {
            margin-left: 0;
        }
            li {
                display: inline;
                margin-right: 15px;
                
                img {
                    
                    cursor: pointer;
                    &:hover {
                        background-color: white;
                        border-radius: 40%;
                    }
                }
            }
        }
    }

    .footer--pin {
        margin-top: 250px;

        @include mobile {
            margin-top: 500px;
        }
        
    }
}
